@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1.0rem;
  margin-left: 35%;
  font-size: 1.25rem;
  font-family: 'Source Sans Pro', sans-serif;
  @media screen and (max-width: 450px) {
    font-size: 1.2rem;
    width: 40%;
  }

  a {
    width: 140px;
    text-align: center;
    color:  rgb(95, 95, 95);
  }

  a:hover {
    color: rgb(153, 153, 153);
    text-decoration: underline;
    transition-duration: 200ms;
    position: relative;
  }
}



.App-Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #F3C19D;
  border-bottom: 10px solid #f8a66c;

  .img-container {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }

  .express-logo {
    background-color:#E8833A;
    color: white;
    border-bottom: 5px solid rgb(95, 95, 95);
    height: 100px;
    width: 475px;
    padding: 14px;
    font-size: 3.5em;
    margin-left: 75px;
    font-family: 'Comfortaa', sans-serif;
    @media screen and (max-width: 450px) {
      font-size: 2rem;
      width: 80%;
    }
  }


}

